<div class="modal-header">
  <h4 class="modal-title pull-left">Author</h4>
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<div class="card mb-3">
  <div class="card-body">
    <input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="authorSp.first_name" placeholder="First Name">
    <hr>
    <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="authorSp.last_name" placeholder="Last Name">
    <div *ngIf="author.id">
      <hr>
      <p class="card-text"><small class="text-muted">{{author.updated_at | date}}</small></p>
      <hr>
      <p class="card-text"><small class="text-muted">Cantidad de publicaciones: {{author.post.length}}.</small></p>
    </div>
  </div>
  <hr>
  <button type="button" (click)="onPopupValCreUpd(authorSp)" class="btn btn-primary">
    <div *ngIf="author.id">
      Actualizar
    </div>
    <div *ngIf="!author.id">
      Crear
    </div>
  </button>
</div>
</div>
