<div class="container">
  <hr>
  <div class="card-deck">
    <div class="card mb-4" style="max-width: 450px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="javascript:void(0);" (click)="openModal(template)">
            <img src="https://www.webnode.es/blog/files/2016/10/Blog-intro.jpg" class="card-img" alt="...">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="card-title">aaaaaaaaaaa</h5>
          </div>
        </div>
      </div>
    </div>
    <ng-template #template>
      <app-post [modalRef]="modalRef"></app-post>
    </ng-template>
  </div>
</div>
