<div class="card mb-4" style="max-width: 350px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="javascript:void(0);" (click)="openModal(template)">
        <div *ngIf="post.image">
          <img src="{{post.image}}" class="card-img cardsHeith" alt="...">
        </div>
        <div *ngIf="!post.image">
          <img src="assets/img/mas.svg" class="card-img cards-new" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div *ngIf="post.id">
          <button type="button" (click)="onPopupDelete(post)" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="post.title">
          <h5 class="card-title">{{post.title}}</h5>
        </div>
        <div *ngIf="!post.title">
          <h5 class="card-title">Crea Nuevo Post</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <app-post-detail [modalRef]="modalRef" [post]="post" [authors]="authors" [postSp]="postSp"></app-post-detail>
</ng-template>
