<!--<p (click)="registrarEvento()">post works! {{entrada}}</p>-->
<div class="card mb-4" style="max-width: 450px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="javascript:void(0);" (click)="openModal(template)">
        <img src="{{post.image}}" class="card-img" alt="...">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-detail-post [modalRef]="modalRef" [post]="post"></app-detail-post>
</ng-template>
